.tenant-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.tenant-form .top-bar {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.tenant-form .flex-row {
    display: flex;
    align-items: center;
}

.tenant-form .name {
    font-size: 22px;
    font-weight: 700;
    color: var(--secondary-color-1);
    margin-left: 10px;
}

.tenant-form .register-time {
    font-size: 16;
    font-weight: 400;
    color: var(--secondary-color-3);
    margin-left: 20px;
}

.tenant-form .main-content {
    display: flex;
    gap: 20px;
}

.tenant-form .input-form {
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
}

.tenant-form .input-form .title {
    font-size: 22px;
    font-weight: 700;
    color: var(--secondary-color-3);
}

.tenant-form .input-form .input-container {
    display: flex;
    flex-direction: column;
}

.tenant-form .input-form .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tenant-form .input-form .label {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color-3);
}

.tenant-form .input-form .input {
    width: 70%;
    border: 1px solid var(--secondary-color-3);
    padding: 6px 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary-color-3);
    box-sizing: border-box;
}

.tenant-form .input-form .pass-container .input {
    width: 100%;
}

.tenant-form .input-form .pass-container {
    width: 60%;
}

.tenant-form .input-form .input-error {
    border: 1px solid red;
}

.tenant-form .input-form .error {
    color: red;
    font-size: 15px;
    margin-top: 3px;
    width: fit-content;
    align-self: flex-end;
}

.tenant-form .input-form .eye-icon {
    position: absolute;
    transform: translate(-23px, 6px);
    cursor: pointer;
}

.tenant-form .input-form .save-btn {
    width: 120px;
    height: 40px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-color-1);
    border-radius: 5px;
    background-color: var(--accent-color-1);
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;

    &:hover {
        opacity: 0.7;
    }
}
